/* montserrat-regular - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/montserrat-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-italic - latin */
@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 400;
	src: local(""),
		url("../fonts/montserrat-v15-latin-italic.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/montserrat-v15-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: local(""),
		url("../fonts/montserrat-v15-latin-500.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/montserrat-v15-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	src: local(""),
		url("../fonts/montserrat-v15-latin-600.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/montserrat-v15-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-600 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	src: local(""), url("../fonts/raleway-v19-latin-600.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/raleway-v19-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/raleway-v19-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* Styles généraux */
:root {
	--font-color: #331100;
	--primary: #fd7e37;
}

:focus {
	outline: 0.2rem solid #55d555;
}


body {
	font-family: Montserrat, sans-serif;
	color: var(--font-color);
	font-size: 1.6rem;
	line-height: 1.5;
	text-align: center;
	background-color: #fff;
}

/* Typography */

h1,
h2,
h3 {
     font-family: Raleway, sans-serif;
}

h2 {
     font-weight: 700;
     font-size: 4.8rem;
     line-height: 1;
     padding-top: 4rem;
     margin-bottom: 4rem;

}

h3 {
     font-weight: 600;
     font-size: 2.4rem;
     padding-top: 4rem;
     padding-bottom: 4rem;
}

p {
     font-size: 2rem;
     color: var(--font-color);
}

a {
     text-decoration: none;
     color: #fff;
}


/* Components */


/* Layout */

.container {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     padding-left: 1.5rem;
     padding-right: 1.5rem;
}


/* Breakpoints */

@media screen and (min-width: 36em) { /* 36em = 36 * 16 (base navigateur) = 576px */
	.container {
		max-width: 54.6rem;
	}
}

@media screen and (min-width: 48em) { /* 768px */
	.container {
		max-width: 73.8rem;
	}
}

@media screen and (min-width: 62em) { /* 992px */
	.container {
		max-width: 96.2rem;
	}
}

@media screen and (min-width: 75em) { /* 1200px */
	.container {
		max-width: 117rem;
	}
}

/* Header */

.main-header {
     color: #fff;
     background-color: var(--primary);
}


.logo {
     font-size: 4.8rem;
     text-transform: uppercase;
     font-weight: 700;
     font-family: Raleway, sans-serif;
}


/* Hero */

.hero {
     display:flex;
     min-height: calc(100vh - 10rem); /* 10rem = hauteur du menu */
     background-image: url(../img/home/bg-hero.jpg);
     background-size: cover;
     background-position: center;
}

.hero h1 {
     font-size: 7.2rem;
     line-height: 1.2;
     color: #fff;
     text-align: left;
}

.hero-decoration {
     /* display: grid;
     justify-content: right; */
     max-width: 95.6rem;
     max-height: 35.1rem;
     background-color: #00000080;
     /* margin-top: 24rem; */
     /* margin-bottom: 12rem; */
}
.btn {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     background-color: var(--primary);
     width: 100%;
     padding-top: .6rem;
     padding-bottom: .6rem;
     font-size: 2.4rem;
}

.btn img {
     margin-left: 1.6rem;
     max-width: 2rem;
     max-height: 2rem;
}

.hero-decoration .cta-link {
     font-size: 4rem;
     font-weight: 600;
     border: .1rem solid #707070;
     padding-top: 2rem;
     padding-bottom: 2rem;
     padding-left: 3rem;
     padding-right: 3rem;
     /* margin-top: 3rem;
     margin-bottom: 3rem; */
     
}

.news-grid {
     display: grid;
     grid-template-columns: repeat(3, 1fr);
     gap: 3.2rem
}

.news-card {
     position: relative;
     display: flex;
     flex-direction: column;
     box-shadow: 0px 0px 48px #00000029;
     border-radius: .4rem;
     transition: 0.2s;
     margin-bottom: 4rem;
}

/* .news-card :nth-child(1) {
     border-radius: .4rem .4rem 0 0;
     margin-bottom: 2.4rem;
} */

.news-card-img img{
     border-radius: .4rem .4rem 0 0;
     
}

.news-card-txt {
     padding-top: 2.4rem;
     padding-bottom: 2.4rem;
     padding-left: 1.5rem;
     padding-right: 1.4rem;
     text-align: left;
}

.news-card-date {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     padding-top: 2.4rem;
}

.news-card-date img {
     margin-right: .8rem;
     max-width: 1.5rem;
}

.news-card h3 {
     padding-top: 1.6rem;
     padding-bottom: 1.6rem;
}

.news-card .btn {
     border-radius: 0 0 .4rem .4rem;
     color: #fff;
}

.news-card:hover {
     /* border: 1px solid black; */
     transform: scale(1.05);
     box-shadow: 0px 0px 48px #00000029
}
.news-card-link {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
}

.news-card-link:focus {
     background-color: rgba(0,0,0,.5);
}







/* Students */

.students {
     background-color: var(--primary);
}

.students-list {
     display: grid;
     grid-template-columns: repeat(4, 1fr);
     gap: 4rem;
}

.student-item {
     display: flex;
     flex-direction: column;
}