/* montserrat-regular - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("../fonts/montserrat-v15-latin-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/montserrat-v15-latin-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-italic - latin */
@font-face {
	font-family: "Montserrat";
	font-style: italic;
	font-weight: 400;
	src: local(""),
		url("../fonts/montserrat-v15-latin-italic.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/montserrat-v15-latin-italic.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-500 - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: local(""),
		url("../fonts/montserrat-v15-latin-500.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/montserrat-v15-latin-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* montserrat-600 - latin */
@font-face {
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 600;
	src: local(""),
		url("../fonts/montserrat-v15-latin-600.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/montserrat-v15-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-600 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	src: local(""), url("../fonts/raleway-v19-latin-600.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/raleway-v19-latin-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}

/* raleway-700 - latin */
@font-face {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	src: local(""), url("../fonts/raleway-v19-latin-700.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */
			url("../fonts/raleway-v19-latin-700.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
}


/* Styles généraux -------------------------------------------------- */

:root {
     --primary: #fd7e37;
     --secondary: #fff;
	--font-color: #331100;
     --date-color: #663014;
     
     /* Couleur complémentaire de la primary pour le focus
     rgb: 55,182,253 (rgb utilisé pour focus cards) */
     --focus: #37B6FD;
}

:focus {
	outline: .4rem solid var(--focus);
     outline-style: outset;
     border-radius: .4rem;
}

input:focus,
textarea:focus {
     outline: .4rem solid var(--primary);
     outline-style: outset;
}

body {
	font-family: "Montserrat", sans-serif;
	color: var(--font-color);
	font-size: 1.6rem;
	line-height: 1.5;
	text-align: center;
	background-color: var(--secondary)
}

/* Text meant only for screen readers. */
.screen-reader-text {
     clip: rect(1px, 1px, 1px, 1px);
     height: 1px;
     overflow: hidden;
     width: 1px;
     position: absolute;
     white-space: nowrap;
}


/* Typography ------------------------------------------ */

h1,
h2,
h3 {
     font-family: "Raleway", sans-serif;
}

h1,
.h1-like {
     font-weight: 700;
     font-size: 3rem;
     line-height: 1.2;
}

h2,
.h2-like {
     font-weight: 700;
     font-size: 3rem;
     line-height: 1;
     margin-bottom: 4rem;
}

h3,
.h3-like {
     font-weight: 600;
     font-size: 2rem;
     line-height: 1.5;
     margin-bottom: 2rem;
}

p {
     font-size: 2rem;
}

.p-card,
.p-card-like {
     font-size: 1.6rem;
}

.p-description {
     font-size: 2rem;
     font-weight: 600;
     text-indent: .6rem;
     max-width: 84rem;
     margin-left: auto;
     margin-right: auto;
     text-align: left;
}

a {
     text-decoration: none;
     color: var(--secondary)
}

time {
     font-size: 1.6;
     color: var(--date-color)
}

@media screen and (min-width: 48em) {
     h1,
     .h1-like {
          font-size: 7.2rem;
     }
     h2,
     .h2-like {
          font-size: 4.8rem;
     }
     h3,
     .h3-like {
          font-size: 2.4rem;
     }
     p {
          font-size: 2.4rem;
     }
     .p-card,
     .p-card-like {
          font-size: 2rem;
     }
     .p-description {
          font-size: 2.4rem;
     }
}


/* Components */

/* Components buttons -------------------------------- */

button {
     border: none;
}

.btn {
     margin-top: auto;
     display: inline-flex;
     align-items: center;
     justify-content: center;
     color: var(--secondary);
     font-weight: 600;
     font-size: 2rem;
     background-color: var(--primary);
     width: 100%;
     padding-top: .6rem;
     padding-bottom: .6rem;
}

.btn img {
     margin-left: 1.6rem;
     max-width: 2rem;
     max-height: 2rem;
}

.btn-form svg {
     margin-left: 2rem;
     max-width: 2rem;
     max-height: 2rem;
}

.btn-form {
     display: inline-flex;
     align-items: center;
     justify-content: center;
     color: var(--secondary);
     font-weight: 600;
     font-size: 2rem;
     background-color: var(--primary);
     transition: .3s;
     border-radius: .4rem;
     padding: 1rem 2rem;
}

.btn-form:hover,
.btn-form:focus {
     background-color: var(--secondary);
     /* inset, decalage horiz, decalage vertical, rayon flou, rayon etendue, couleur */
     box-shadow: inset 0 0 0 .3rem var(--primary);
     color: var(--primary);
}

@media screen and (min-width: 48em) {
     .btn,
     .btn-form {
          font-size: 2.4rem;
     }
}

/* SVG ------------------- */

.arrow-svg {
     fill: none;
     stroke: var(--secondary);
     stroke-linecap: round;
     stroke-linejoin: round;
     stroke-width: 2px;
     transition: .3s;
}

.btn-form:hover .arrow-svg,
.btn-form:focus .arrow-svg {
     stroke: var(--primary);
}

/* Components slider ---------------------------------- */

.slider ul {
     margin-top: 4rem;
     margin-left: auto;
     margin-right: auto;
}

.slider-btn-list {
     display: flex;
     justify-content: space-between;
     align-items: center;
     max-width: 23rem;
}

.slider-btn-left,
.slider-btn-right,
.slider-btn-number {
     font-family: "Montserrat", sans-serif;
     font-weight: 500;
	font-size: 1.6rem;
	line-height: 1.5;
     display: flex;
     justify-content: center;
     align-items: center;
     width: 3rem;
     height: 3rem;
     border: 0.1rem solid var(--primary);
     border-radius: 5px;
     background-color: var(--secondary);
     color: var(--primary);
     transition: .3s;
}

.slider-btn-left:hover,
.slider-btn-right:hover,
.slider-btn-number:hover {
     background-color: var(--primary);
     color: var(--secondary)
}

.slider-btn-list button.active {
     background-color: var(--primary);
     color: var(--secondary);
}

@media screen and (min-width: 48em) {
     .slider ul {
          margin-top: 8rem;
     }
}


/* Components - CARDS news & modules -------------------- */

.card {
     position: relative;
     display: flex;
     flex-direction: column;
     box-shadow: 0px 0px 48px #00000029;
     border-radius: .4rem;
     transition: 0.2s;
}

.card-img,
.card-img img {
     border-top-left-radius: inherit;
     border-top-right-radius: inherit;
}

.card .btn {
     border-bottom-right-radius: inherit;
     border-bottom-left-radius: inherit;
     color: var(--secondary);
}

.card-link {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
     border-radius: inherit;
}

.card:hover {
     transform: scale(1.05);
}

.card-link:focus {
     background-color: rgba(55,182,253,.25);
}


/* Layout ----------------------------------------- */

.container {
     width: 100%;
     margin-left: auto;
     margin-right: auto;
     padding-left: 1.5rem;
     padding-right: 1.5rem;
     /* margin-top: 4rem;
     margin-right: 4rem; */
}


/* Breakpoints ------------------------------------ */

@media screen and (min-width: 36em) { /* 36em = 36 * 16 (base navigateur) = 576px */
	.container {
		max-width: 54.6rem;
	}
}

@media screen and (min-width: 48em) { /* 768px */
	.container {
		max-width: 73.8rem;
	}
}

@media screen and (min-width: 62em) { /* 992px */
	.container {
		max-width: 96.2rem;
	}
}

@media screen and (min-width: 79.75em) { /* 1276px */
	.container {
          max-width: 127.6rem;
	}
}


/* Header ------------------------------------------- */

.main-header {
     position: relative;
     color: var(--secondary);
     background-color: var(--primary);
     padding-top: 1rem;
     padding-bottom: 1rem;
}

.main-header .container {
     display: flex;
     align-items: center;
     justify-content: space-between;
}

.logo {
     font-size: 3rem;
     line-height: 1.16;
     font-weight: 700;
     font-family: 'Raleway', sans-serif;
     margin-right: 2rem;
     transition: .3s;
}

a.logo:hover {
     filter: drop-shadow(0 0 0.5rem #994703);
}


/* Navigation ----------------------------------------- */

[hidden] {
	display: block;
	visibility: hidden;
}

.toggle-menu {
	background-color: transparent;
     padding: 1rem 1.5rem;
	border: 0;
	color: var(--secondary);
     text-transform: uppercase;
     transition: .3s;
}

.menu {
	position: absolute;
	z-index: 10;
	top: 100%;
	left: 0;
	right: 0;
	background-color: var(--primary);
	transform: translateX(-100%);
	transition: .5s;
}

.menu:not([hidden]) {
	transform: translateX(0);
}

@media screen and (min-width: 48em) {
     .main-header {
          padding-top: 2rem;
          padding-bottom: 2rem;
     }
	.logo {
          font-size: 4.8rem;
     }  
     .toggle-menu {
		display: none;
	}
	.menu {
		display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: flex-end;
		position: static;
		visibility: visible;
		transform: translateX(0);
	}
}

.menu-item {
     margin-top: 1.7rem;
     margin-bottom: 1rem;
     position: relative;
}

.menu-link {
     padding: 1rem 1.5rem;
     font-size: 1.6rem;
     text-transform: uppercase;
     transition: .2s;
     position: relative;
}

.menu-link::after {
     content: "";
     position: absolute;
     height: .2rem;
     transition: .5s ease;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     transform: scaleX(0);
}

.menu-link:hover::after,
.menu-link:focus::after {
     transform: scaleX(1);
     background: var(--secondary);
}

.menu-current,
.toggle-menu:hover,
.toggle-menu:focus {
     background-color: var(--secondary);
     color: var(--primary);
}

.menu-link:focus {
     z-index: 1;
     position: relative;
}

@media screen and (min-width: 48em) {
     .menu-link {
          padding: 1rem 1.5rem;
          font-size: 1.6rem;
     }
     .menu-item {
          margin-top: 1rem;
          margin-bottom: 1rem;
     }
}

@media screen and (min-width: 79.75em) {
     .menu-link {
          padding: 1rem 2rem;
          font-size: 2rem;
     }
}



/* HOME PAGE 1 - Hero section -------------------------------------------- */

.hero {
     display:flex;
     min-height: calc(100vh - 10rem); /* 10rem = hauteur du menu */
     background-image: url(../img/home/bg-hero.jpg);
     background-size: cover;
     background-position: center;
}

@media (min-resolution: 144dpi) {
	.hero {
		background-image: url(../img/home/bg-hero@2x.jpg);
	}
}

.hero .container {
     display: flex;
     align-items: flex-end;
     justify-content: flex-end;
     padding-bottom: 6rem;
}

.hero-decoration {
     display: flex;
     flex-direction : column;
     max-width: 83rem;
     background-color: #00000080;
     padding: 3rem 2.4rem;
}

.hero h1 {
     font-size: 3.2rem;
     line-height: 1.2;
     color: var(--secondary);
     text-align: center;
     padding: 0;
}

.hero-btn {
     display: flex;
     justify-content: center;
     margin-top: 3rem;
}

.cta-link {
     display: flex;
     flex-wrap: wrap;
     font-size: 2rem;
     font-weight: 600;
     line-height: 1.2;
     border: .1rem solid #707070;
     background-color: var(--primary);
     padding: 1rem 2rem;
     transition: .3s;
}

.cta-link:hover,
.cta-link:focus {
     color: var(--primary);
     background-color: var(--secondary);
}

@media screen and (min-width: 36em) {
     .hero h1 {
          font-size: 4.2rem;
     }
     .hero .container {
          padding-top: 24rem;
          padding-bottom: 12rem;   
     }
     .hero {
          min-height: 71rem;
          max-height: 71rem;
     }
     .cta-link {
          font-size: 2.5rem;
          padding: 2rem 3rem;
     }
}

@media screen and (min-width: 48em) {
     .hero h1 {
          font-size: 5.2rem;
          text-align: left;
     }
     .cta-link {
          font-size: 3rem;
     }
     .hero-btn {
          justify-content: flex-end;
     }
}

@media screen and (min-width: 62em) {
     .hero {
          max-height: 71rem;
     }
     .hero h1 {
          font-size: 6.2rem;
     }
     .cta-link {
          font-size: 3.5rem;
     }

}

@media screen and (min-width: 79.75em) {
     .hero-decoration {
          max-width: 95.6rem;
     }
     .hero h1 {
          font-size: 7.2rem;
     }
     .cta-link {
          font-size: 4rem;
     }
}


/* Home PAGE 1 - Last news section ----------------------------- */

.last-news {
     padding-top: 4rem;
     padding-bottom: 4rem;
}

.news-grid {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     gap: 3.2rem;
}

@media screen and (min-width: 36em) {
     .news-grid {
          grid-template-columns: repeat(2, 1fr);
     }
}

@media screen and (min-width: 62em) {
     .news-grid {
          grid-template-columns: repeat(3, 1fr);
     }
}

.card-news-body {
     display: flex;
     flex-direction: column;
     padding-top: 2.4rem;
     padding-bottom: 2.4rem;
     padding-left: 1.4rem;
     padding-right: 1.6rem;
     text-align: left;
}

.card-news-date {
     display: flex;
     justify-content: flex-start;
     align-items: center;
     color: var(--date-color);
}

.card-news-date img {
     margin-right: .8rem;
     max-width: 1.5rem;
}

.card-news-body h3,
.card-news-body .h3-like {
     padding-top: 1.6rem;
     padding-bottom: 1.6rem;
}


/* Home PAGE 1 - Students SECTION --------------------------------------------------- */

.students {
     background-color: var(--primary);
     color: var(--secondary);
     padding-top: 4rem;
     padding-bottom: 4.3rem;
}

ul.students-list {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     gap: 2.3rem 3.2rem;
}

@media screen and (min-width: 23em) {
     ul.students-list {
          grid-template-columns: repeat(2, 1fr);
     }
}

@media screen and (min-width: 48em) {
     ul.students-list {
          grid-template-columns: repeat(4, 1fr);
     }
}

.student-item {
     position: relative;
     display: flex;
	flex-direction: column;
}

.student-item:hover .student-link-style {
     background-color: var(--secondary);    
     color: var(--primary);
     text-decoration: none;
}

.student-link:focus {
     background-color: rgba(255,255,255,.25);
}

.student-link-style {
     font-size: 1.6rem;
     text-decoration: underline;
     margin-left: auto;
     margin-right: auto;
     padding-left: 1rem;
     padding-right: 1rem;
     transition: background-color .3s, color .3s, text-decoration .3s;
}

.student-img {
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 2rem;
     max-width: 21.8rem;
     max-height: 21.8rem;
}

.student-link {
     position: absolute;
     top: 0;
     right: 0;
     bottom: 0;
     left: 0;
}


/* Home PAGE 1 - Modules section  ---------------------------------------------------- */

.modules {
     padding-top: 4rem;
     padding-bottom: 4rem;
}

.modules-grid {
     display: grid;
     grid-template-columns: repeat(1, 1fr);
     gap: 4rem 3.2rem;
}

.card-module-body {
     padding-top: 4rem;
     padding-bottom: 4rem;
     padding-left: 1.4rem;
     padding-right: 1.6rem;
     text-align: left;
}

.card-module-body h3,
.card-module-body .h3-like {
     margin-bottom: 4rem;
}

@media screen and (min-width: 36em) {
     .modules-grid {
          grid-template-columns: repeat(2, 1fr);
     }
}


/* Footer ----------------------------------------------------- */

.main-footer {
     background-color: var(--primary);
     color: var(--secondary);
}

.main-footer-address {
     grid-area: address;
}

.main-footer-legal {
     grid-area: legal;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-around;
}

.main-footer-social {
     grid-area: social;
}

.main-footer-grid {
     display: grid;
     grid-template-columns: 1fr;
     grid-template-areas:     "address"
                              "legal"
                              "social";
     padding-top: 4rem;
     padding-bottom: 3.6rem;
     gap: 2rem;
     align-items: center;
}

.address-list {
     text-align: center;
     font-size: 1.6rem;
}

.address-title {
     font-weight: 600;
}

.main-footer-legal .footer-link {
     padding-top: .5rem;
     padding-bottom: .5rem;
}

.main-footer a {
     position: relative;
}

/* ::after identique à la nav principale, mais peut-être plus simple à
maintenir si on garde les éléments du footer regroupés ensembles...? */

.footer-link::after {
     content: "";
     position: absolute;
     height: .2rem;
     transition: .5s ease;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     transform: scaleX(0);
}

.footer-link:hover::after,
.footer-link:focus::after {
     transform: scaleX(1);
     background: var(--secondary);
}

.social-list {
     display: flex;
     justify-content: center;
     align-items: center;
}

.social-icon {
     display: flex;
     align-items: center;
     justify-content: center;
     width: 6.5rem;
     height: 6.5rem;
     margin: 0 0.5rem;
     background-color: transparent;
     border-radius: 50%;
     transition: .2s;
}

.social-icon:hover {
     outline: .4rem solid var(--secondary);
}

@media screen and (min-width: 36em) {
     .main-footer-grid {
          grid-template-columns: 3fr 2fr;
          grid-template-areas:     "address   address"
                                   "legal     social";
          gap: 4rem;
     }

     .address-list {
          text-align: left;
          font-size: 2rem;
     }

     .main-footer-legal {
          align-items: flex-start;
     }
     .social-list {
          justify-content: space-around;
     }
     .social-list li {
          padding-left: 0;
          padding-right: 0;;
     }
}

@media screen and (min-width: 62em) {
     .main-footer-grid {
          grid-template-columns: 35fr 30fr 20fr;
          grid-template-areas: "address legal social";
     }
     .main-footer-legal {
          align-items: center;
     }
     .legal-link {         
          margin-left: 1rem;
          margin-right: 1rem;
     }
}

@media screen and (min-width: 79.75em) {
     .main-footer-grid {
          grid-template-columns: 30fr 30fr 20fr;
     }
     .main-footer-legal {
          flex-direction: row;
     }
}


/* Course PAGE 2 ------------------------------------------------ */

.course-presentation {
     padding-top: 4rem;
}


/* Students PAGE 3 --------------------------------------------------- */

.students-page {
     padding-top: 4rem;
     padding-bottom: 9rem;
}

.students-page .student-link-style { 
     color: var(--primary);
}

.students-page .student-item:hover .student-link-style {
     background-color: var(--primary);    
     color: var(--secondary);
     text-decoration: none;
}

.students-page .student-link:focus {
     background-color: rgba(55,182,253,.25);
}

.students-page .slider ul {
     margin-top: 4rem;
}


/* News PAGE 4 -------------------------------------------------- */

 .news-page {
     padding-top: 4rem;
     padding-bottom: 4rem;
 }

 .news-page .slider ul {
     margin-top: 4rem;
}


/* Contact PAGE 5 ----------------------------------------------- */

.contact-page {
     padding-top: 4rem;
     padding-bottom: 4rem;
}

.contact-form {
     display: grid;
     grid-template-columns: 1fr;
     row-gap: 1rem;
     column-gap: 3.2rem;
     text-align: left;
     max-width: 105.8rem;
     padding-top: 0;
     margin-left: auto;
     margin-right: auto;
}

.formgroup {
     font-size: 1.6rem;
}

.fullwidth {
     grid-column: 1 / -1;
}

label {
     display: block;
     margin-top: 1rem;
}

input,
textarea {
     width: 100%;
     font-size: 1.6rem;
     border-bottom: 0.1rem solid #707070;
     border-top: none;
     border-left: none;
     border-right: none;
     margin-top: .5rem;   
}

input::placeholder,
textarea::placeholder {
     font-style: italic;
     color: #33110080;
}

#name,
#email {
     height: 2.5rem;
}

#msg {
     height: 12rem;
     resize: none;
}

.align-right {
     text-align: right;
}

@media screen and (min-width: 36em) {  
     label {
          margin-top: 2rem;
     }
     #msg {
          height: 16rem;
     }
}

@media screen and (min-width: 48em) {
     .contact-form {
          grid-template-columns: repeat(2, 1fr);
          row-gap: 2rem;
          padding-top: 7.65rem;
     }
     .formgroup {
          font-size: 2rem;
     }
     label {
          margin-top: 2.45rem;
     }   
     input,
     textarea {
          font-size: 2rem;
          margin-top: .95rem;
     }
     #name,
     #email {
          height: 4.5rem;
     }
     #msg {
          height: 23.45rem;
          resize: none;
     }
}


/* Policy PAGE 6 ------------------------------------------------ */

.policy-page {
     padding-top: 4rem;
     padding-bottom: 4rem;
}

.policy-presentation {
     margin-left: auto;
     margin-right: auto;
     max-width: 84rem;
}

.policy-presentation p {
     text-align: left;
     margin-bottom: 3rem;
}


/* Student pres PAGE 7 ---------------------------------------------- */

.student-page {
     padding-top: 4rem;
     padding-bottom: 4rem;
}

.student-info-list {
     display: grid;
     grid-template-columns: 1fr;
     row-gap: 4rem;
     column-gap: 3.6rem;
}

.student-info-list li:last-child {
     grid-column: 1 / -1;
}

.student-info-item {
     text-align: center;
}

.student-info-list .h3-like {
     margin-bottom: 1.5rem;
}

.student-info-item :last-child {
     text-indent: 0;
}

.p-student-resume {
     font-size: 2rem;
}

.student-page-img {
     margin-left: auto;
	margin-right: auto;
     margin-bottom: 4rem;
     max-width: 30.3rem;
     max-height: 30.3rem;
}

@media screen and (min-width: 36em) {
     .student-info-list {
          grid-template-columns: repeat(2, 1fr);
     }
     .student-info-item {
          text-align: left;
     }
     .student-info-item :last-child {
          text-indent: .6rem;
     }
}

@media screen and (min-width: 48em) {
     .student-page-img {
          max-width: 40.4rem;
          max-height: 40.4rem;
     }
     .student-info-list .h3-like {
          margin-bottom: 2rem;
     }
     .p-student-resume {
          font-size: 2.4rem;
     }
}

@media screen and (min-width: 62em) {
     .student-info-list {
          grid-template-columns: repeat(4, 1fr);
     }
}


/* News-detail PAGE 8 ------------------------------------------------ */

.news-detail {
     padding-top: 4rem;
     padding-bottom: 4rem;
     margin-left: auto;
     margin-right: auto;
     max-width: 84rem;
}

.news-detail-content {
     max-width: 84rem;
}

.news-detail-img {
     margin-bottom: 4rem;
}
.news-detail .p-card {
     text-indent: .6rem;
     text-align: left;
     margin-bottom: 2rem;
}

.news-detail-date {
     display: flex;
     justify-content: center;
     align-items: center;
     margin-bottom: 4rem;
}

.news-detail-date img {
     margin-right: .8rem;
}


/* Course-module PAGE 9 ------------------------------------------------ */

.module-page-img {
     display: flex;
     min-height: 25rem;
     background-image: url(../img/module-focus/bg-module-html-css.jpg);
     background-size: cover;
     background-position: center;
     justify-content: center;
     align-items: center;
}

@media (min-resolution: 144dpi) {
	.module-page-img {
		background-image: url(../img/module-focus/bg-module-html-css@2x.jpg);
	}
}

@media screen and (min-width: 48em) {
     .module-page-img {
          min-height: 40rem;
     }
}

.module-page-img .h2-like {
     color: var(--secondary);
     margin-top: auto;
     margin-bottom: auto;
}

.module-page-txt {
     padding-top: 4rem;
     padding-bottom: 4rem;
}

.module-page-txt .p-description {
     margin-bottom: 2rem;
}